# Auth0 Configuration
AUTH0_DOMAIN=dev-4skztpo8mxaq8d12.us.auth0.com
AUTH0_AUDIENCE=https://dev-4skztpo8mxaq8d12.us.auth0.com/api/v2/

# Application Credentials
CLIENT_ID=HFGjKwNvymtShqtohLZhVeN8s9UjPRDi
CLIENT_SECRET=f6twKJm4m47d-o3lQK5JkDbbVfXe6rhHHmnFApBQMhyL3IRZrjD0GGF87QueN5IF

# Server Configuration
PORT=8080

