# Auth0 Configuration
AUTH0_DOMAIN=dev-4skztpo8mxaq8d12.us.auth0.com
AUTH0_AUDIENCE=https://dev-4skztpo8mxaq8d12.us.auth0.com/api/v2/
AUTH0_CONNECTION=Username-Password-Authentication

# Application Credentials
CLIENT_ID=HFGjKwNvymtShqtohLZhVeN8s9UjPRDi
CLIENT_SECRET=f6twKJm4m47d-o3lQK5JkDbbVfXe6rhHHmnFApBQMhyL3IRZrjD0GGF87QueN5IF

# Passage Configuration (for migration from passage.1password.com)
PASSAGE_CLIENT_SIDE_KEY=WtYiBZAyFaopnj4noPwG1pTx
PASSAGE_APP_ID=oo7jMcL8o84ecGkZHNxUQQhv
PASSAGE_API_KEY=twqsfd70i4.rdoXs6RkPcO3VAiuhOH9aEV50a3EKSw0KesDjstvJVYsiy4Eg7freyKK7QhjNZNX

# Server Configuration
PORT=8080
